@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

#react-select-custom-listbox {
  font-size: 13px;
}

.mapboxgl-popup .mapboxgl-popup-content {
  background-color: white;
  padding: 0;
  border-radius: 8px !important;
  overflow: hidden;
}

.project .mapboxgl-popup .mapboxgl-popup-content {

  width: 300px;
}

#my-data:hover {
  background-color: red;
  fill: blue;
}

/* rating  */
.empty-icons {
  display: flex !important;
}

.filled-icons {
  display: -webkit-inline-box !important;
}

.bg-mesh {
  background-color: #ffdd99;
  background-image:
    radial-gradient(at 77% 36%, hsla(198, 83%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 61%, hsla(306, 75%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 57%, hsla(314, 63%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 47% 33%, hsla(85, 89%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 91% 26%, hsla(105, 66%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 31% 86%, hsla(330, 88%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 59% 37%, hsla(325, 61%, 65%, 1) 0px, transparent 50%);
}

.admin-bg-mesh {
  background-color: #999eff;
  background-image:
    radial-gradient(at 56% 87%, hsla(323, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 76%, hsla(172, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 21% 58%, hsla(290, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 38% 40%, hsla(271, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 27%, hsla(163, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 14% 49%, hsla(63, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 55%, hsla(37, 100%, 95%, 1) 0px, transparent 50%);
}